{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Change Password</title>
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/internal.css' %}">
{% endblock %}
{% block content %}  
    <div class="login-wrapper pb-70">
      <div class="container-fluid">
          <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                  <main id="primary" class="site-main">
                      <div class="user-login">
                          <div class="row">
                              <div class="col-12 col-sm-12 col-md-12">
                                  <div class="section-title text-center">
                                      <h3>Set New Password</h3>
                                  </div>
                              </div>
                          </div> <!-- end of row -->
                          <div class="row">
                              <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6 offset-lg-2 offset-xl-3">
                                  <div class="login-form">
                                      <form method="POST">
                                          {% csrf_token %}
                                          <div class="form-group row align-items-center mb-4">
                                              <label for="email" class="col-12 col-sm-12 col-md-4 col-form-label">New Password</label>
                                              <div class="col-12 col-sm-12 col-md-8">
                                                  <input type="password" name="new_password1" class="form-control mb-1" id="password" placeholder="new password" required>
                                              </div>
                                          </div>
                                          <div class="form-group row align-items-center mb-4">
                                            <label for="email" class="col-12 col-sm-12 col-md-4 col-form-label">New Password</label>
                                            <div class="col-12 col-sm-12 col-md-8">
                                                <input type="password" name="new_password2" class="form-control mb-1" id="password" placeholder="confirm new password" required>
                                            </div>
                                        </div>
                                          <div style="margin-left: 60%;" class="login-box mt-5 text-center ">
                                              <button  type="submit" class="btn btn-secondary mb-4 mt-4 ml-3">Send</button>
                                          </div>
                                          <div class="text-center pt-20 top-bordered">
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div> <!-- end of user-login -->
                  </main> <!-- end of #primary -->
              </div>
          </div> <!-- end of row -->
      </div> <!-- end of container -->
  </div> 


{% endblock %}
  
{% block js %}
  <script type="text/javascript" src="{% static 'js/parallax.js' %}"></script> 
  <script type="text/javascript" src="{% static 'js/jquery.flexslider.js' %}"></script> 
  <script type="text/javascript" src="{% static 'js/cloud-zoom.js' %}"></script>
{% endblock %}